body{
  font-family: 'Delius', cursive;
}

h1{
  font-size: 50px;
}

.intro-name{
  color: chocolate;
}

.half-width{
  width: 40%;
  float: left;
  margin-left: 5%;
  padding-left: 2%;
}

.half-width img{
  width: 70%;
}

.cover-intro{
  padding-right: 20px;
}